$graycolor: #434a54;

.chatarea-main {
  padding: 0 40px;
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  &__user {
    padding: 46px 0 10px;
    display: flex;
    &__name {
      color: $graycolor;
      font-size: 16px;
      font-weight: bold;
    }
    &__date {
      color: #999999;
      font-size: 12px;
      margin-left: 10px;
      display: inline-block;
    }
  &__text {
    font-size: 14px;
    color: $graycolor;
    margin-bottom: 40px;
    }
  }
}

